/*================================ GRID */
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}

.panel {
	margin: 5px;
	padding: 5px;
/*
  width: 100%;
  width: 48%;
float:left;
*/
}

/*===========================  */
html, body{
	height:100%;
margin:0;
padding:0;
}

body {
	background-color: #055c80;	
margin: 0;
padding: 15px;
}

a:link{
	text-decoration: none;
}

.container {
	width: 80%;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 1px;
}
.header .wrapper {
	margin: 10px;
}
.header h1 {
	text-align: left;
	padding: 0;
}


.main {
	height: 80%;
}

.content {
	float: left;
	background-color: #ffffff;
	width: 60%;
	height: 100%;
}

.footer {
	height: 10%;
	background-color: #b6cfed;
}
.footer .wrapper {
	margin: 0 5px 0 5px;
	padding-top: 10px;
}


.menu {
	background-color: #ccf;
	height: 5%;
}
.menu .wrapper {
padding: 10px;
}

.menu ul {
	list-style: none;
padding: 5px 1px 1px 1px;
	margin: 0;
	/* display: block; */
	/* width: 100%; */
	/*text-align: center;*/
}

.menu ul li {
	display: inline;
	/* width: 30%; */
	font-size: 100%;
	margin: 5px;
	background-color: dodgerblue;
padding: 0 25px;
text-align:center;
border-radius: 3px;
}
.menu ul li:hover {
	background-color: deepskyblue;
}

.menu a {
	text-decoration: none;
	color: lightblue;
	font-family: Arial,Verdana;
}
.menu a:hover {
	color: #fff;
}


/*==================LOG===========*/
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
background-color: #b0c4de;
position: fixed;
bottom: 0;
right:0;
z-index: 999;
opacity: 0.9;
border-radius: 4px;
width: 50%;
}

.log-panel .panel-body{
	padding: 0;
}

.log-panel span a{
text-decoration:none;
outline: none;
}
#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}

.alert {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/*=========================== AUTH */
.dm-table {
	display: table;
	width: 100%;
	height: 100%;
}

.dm-cell {
	display: table-cell;
	padding: 0 1em;
	vertical-align: middle;
	text-align: center;
}
	
.dm-modal {
	display: inline-block;
	max-width: 50em;
	/*background: #607d8b;*/
	/*background-color: rgb(200, 200, 250);*/
	background-color: #b0c4de;
	border-radius: 10px;
	padding: 25px;
	/* width: 300px; */
	z-index: 1042;
	-webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
	/*color: #cfd8dc;*/
	color: #000;
	text-align: left;
}	

/* =========================== */
#block-user {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #eee;
	border: 1px solid #000;
}

#block-user h3{
margin:0;
padding:0;
}

