html, body{
height:100%;
margin:0;
padding:0;
}


.m-container {
	width: 70%;
	margin: auto;
}

.header {
	/*height: 5%;*/
	/* border: 1px solid; */
	padding: 1px;
}

.header h1 {
	text-align: center;
	padding: 0;
	/*margin: 0;*/
}

.menu {
}

.main {
	height: 80%;
/*overflow: hidden;*/
	/* border: 1px solid; */
	/* padding: 5px; */
	/* clear: both; */
}


.sidebar{
	float: left;
	/* border: 1px solid; */
	width: 20%;
	height: 100%;
}
.sidebar-left {
}
.sidebar-right {
}
.content {
	float: left;
	/* border: 1px solid; */
	background-color: #ffffff;
	width: 60%;
	height: 100%;
	/* padding: 5px; */
}

.footer {
	height: 10%;
	/* border: 1px solid; */
	/* padding: 5px; */
}

.panel {
	background-color: #e9f0f0;
/*	width: 100%;*/
/*	max-height: 90%;*/
	margin: 5px;
	padding: 5px;
word-wrap: break-word;
/*word-break: break-all;*/
}


.wrapper {
/*	margin: 5px;*/
}
.footer .wrapper {
	margin: 0 5px 0 5px;
	/* height: 100%; */
	padding-top: 10px;
}
.menu .wrapper {
padding: 10px;
}

.menu ul {
}
.menu ul li {
}
.menu ul li:hover {
}
.menu a {
}
.menu a:hover {
}




@media all and (max-width:700px){

	.main {
		height: auto;
	}

	.sidebar-left {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}
	.content {
		float: none;
		width: 100%;
	}
	.sidebar-right {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}

	.menu ul li {
		font-size: 110%;
	}

}


/* GRID */
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.content th{
font-weight:bold;
}
